<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='search_styles.css') }}">
<nav>
	<h1>Search for songs</h1>
	<ul>
		<li><a href="{{ url_for('/search.search') }}">Search</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class='flash'>{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<p><p>
<footer class="footer">
  <p>
    All data &copy; <a href="http://www.billboard.com">Billboard</a>
  </p>
</footer>
